.clients {

  h2 {
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 25px;
    min-height: 125px;
    font-size: 14px;

    @include tablet {
      min-height: 30px;
    }
  }

  &__list {
    padding: 60px 55px;
    border-radius: $border-radius-20px;
    overflow: hidden;
    border: 1px solid var(--color-border);
    position: relative;
    z-index: 0;
    align-items: flex-start;

    @include desktop {
      padding: 40px 20px;
    }

    @include tablet {
      padding: 60px;
      display: block;
    }

    @include mobile-l {
      padding: 40px;
    }

    @include mobile {
      padding: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url('../img/petals.png');
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: contain;
      height: 100%;
      width: 500px;
      z-index: -1;
      left: 0;
      bottom: 0;
    }

    li {
      padding: 20px;

      @include tablet {
        max-width: 100%;
      }

      &:not(:last-child) {
        @include tablet {
          margin-bottom: 20px;
        }
      }
    }

    span {
      font-size: 14px;
    }

    &.background {
      background: var(--color-orange-linear);

      &:before {
        opacity: 1;
      }
    }
  }
}