.contact {
  width: 100%;
  padding: 60px;

  &.background {
    &:after {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &:before {

      top: 0;
      right: 0;
      left: auto;
      transform: rotate(180deg) scale(1.1);
    }
  }

  &__inner {
    max-width: 460px;
    width: 100%;
    margin-left: auto;
    position: relative;

    .text-center {
      margin-bottom: 40px;
    }
  }

  &__img {
    position: absolute;
    width: auto;
    height: auto;
    left: 0;

    &--key {
      top: 50px;
    }

    &--free {
      bottom: 0;
    }
  }

  .slogan {
    margin-bottom: 40px;
  }
}