.contacts {
  padding: 60px 55px;
  @include flex-all-sb;
  background: var(--color-orange-linear);
  border: 2px solid var(--color-border);
  border-radius: $border-radius-20px;
  position: relative;
  overflow: hidden;
  z-index: 0;

  @include mobile {
    padding: 30px;
  }

  @include mobile-s {
    padding: 40px 10px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url('../img/petals.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 900px;
    width: 900px;
    z-index: -1;
    right: 0;
    top: 0;
    transform: rotate(180deg);
  }

  p {
    font-size: 14px;
  }

  &__images {
    max-width: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;

      @include mobile-l {
        display: none;
      }

      &:first-child {
        max-width: 324px;
        top: 65px;
        left: 0;

        @include tablet {
          left: -90px;
        }
      }

      &:last-child {
        max-width: 570px;
        bottom: -30px;
        left: 0;

        @include tablet {
          bottom: -15%;
        }

      }
    }
  }
}