.blog {
  margin-bottom: 170px;

  @include tablet {
    margin-bottom: 60px;
  }

  &__wrap {
    @include flex-s-sb;

    @include tablet {
      display: block;
    }
  }

  &__item {
    max-width: 300px;
    width: 100%;
    position: relative;

    @include mobile-m {
      max-width: 190px;
    }

    &:first-child {
      margin-right: 30px;

      @include mobile-m {
        margin-right: 10px;
      }
    }
  }

  &__inner {
    @include mobile-s {
      margin-bottom: 26px;
    }

    &:first-child {
      max-width: 385px;
      width: 100%;

      @include tablet {
        margin-bottom: 50px;
      }
    }

    &:last-child {
      display: flex;

      @include tablet {
        justify-content: space-evenly;
      }
    }

    .title {
      @include H3;
      margin-bottom: 10px;
      letter-spacing: -0.03em;
      text-align: left;
    }

  }

  &__text {
    margin-bottom: 25px;
    @include body;
  }

  &__btn-shop.btn-shop {
    @include mobile-s {
      display: none;
    }
  }

  &__btn-all.btn-shop {
    display: none;

    @include mobile-s {
      display: block;
    }
  }

  .blog-article {
    cursor: pointer;

    &__img {
      margin-bottom: 24px;

      @include mobile-m {
        height: 205px;
      }
    }

    &__price {
      color: var(--color-golden);
      display: block;
      @include body-sec;
      margin-bottom: 8px;
    }

    &__title {
      @include H4;
      transition: color 0.3s ease-in-out;

      @include mobile-m {
        font-size: 16px;
      }
    }

    &__date {
      display: block;
      margin-bottom: 8px;
    }

    &__link {

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        cursor: pointer;
      }
    }

    &:hover {
      .blog-article__title {
        color: var(--color-hover);
      }
    }
  }
}