.services {
  p {
    margin-bottom: 35px;
  }

  &__list {
    p {
      font-size: 14px;
      line-height: 1.8;
      min-height: 80px;
      margin-bottom: 30px;

      @include tablet {
        margin-bottom: 15px;
      }
    }
  }
}