.story {
  height: 530px;
  overflow: hidden;

  &__list {
    display: block;

  }

  &__item {
    background-color: var(--color-orange-100);
    border-radius: $border-story-radius;
    position: relative;
    padding: 140px 0 50px 80px;
    height: 100% !important;

    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: var(--color-orange);
      border-radius: 5px 5px 0px 0px;
      width: 2px;
      left: 80px;
      bottom: 0;
    }

    &:before {
      height: 40px;
    }

    &:after {
      height: 80px;
      background-color: var(--color-orange);
      opacity: 0.2;
    }
  }

  .title {
    color: var(--color-orange);

    &__word {
      color: var(--color-black);
    }

  }

  &__inner {
    max-width: 445px;
  }

  &__text {
    margin-right: 75px;
    line-height: 1.6;
    margin-bottom: 65px;
  }

  &__more {
    margin-left: 15px;
  }

  &__img {
    max-width: 790px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 90px;
  }


  .swiper-pagination {
    height: 4px;
    background-color: transparent;
    width: 100%;

    .swiper-pagination-progressbar-fill {
      background: linear-gradient(270deg, #F9AF31 0%, rgba(249, 175, 49, 0) 100%);
    }
  }
}