.story {
  overflow: hidden;
  background-color: var(--color-orange-100);

  &__item {
    height: 530px !important;
    align-items: flex-start;

    &.swiper-slide-active {

      &:after,
      &:before {
        content: "";
        position: absolute;
        background-color: var(--color-orange);
        border-radius: 5px 5px 0 0;
        width: 2px;
        left: 80px;
        bottom: 0;

        @include tablet {
          left: 40px;
        }

        @include mobile-l {
          left: 20px;
        }
      }

      &:after {
        height: 80px;
        background-color: var(--color-orange);
        opacity: 0.2;

        @include mobile-l {
          height: 50px;
        }
      }

      &:before {
        height: 40px;
        animation: height 3s ease-in-out infinite;

        @keyframes height {
          0% {
            height: 0;
          }

          100% {
            height: 80px;
          }
        }

        @include mobile-l {
          height: 25px;
          animation: height-mob 3s ease-in-out infinite;


          @keyframes height-mob {
            0% {
              height: 0;
            }

            100% {
              height: 25px;
            }
          }
        }
      }

    }
  }

  .swiper-pagination-progressbar {
    background-color: transparent;
  }

  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: linear-gradient(270deg, #f9af31 0%, rgba(249, 175, 49, 0) 100%);
  }
}