.designers-page {
  margin-bottom: 100px;

  .search {
    max-width: 410px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;

    @include mobile-s {
      width: 90%;
    }

    &__icon {
      left: -35px;

      @include mobile-s {
        left: -25px;
      }
    }

    &__designers {
      max-width: 100%;
    }
  }

  &__list {
    @include flex-all-sb;
    overflow-x: scroll;
    scrollbar-color: var(--color-golden);
    margin-bottom: 100px;

    @include mobile {
      margin-bottom: 60px;
    }

    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 7px;
      width: 5px;
      background-color: var(--color-golden);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 15px;

      @include mobile {
        margin-right: 22px;
      }
    }
  }

  &__btn {
    text-transform: uppercase;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
    white-space: nowrap;
    padding: 5px;
    cursor: pointer;
    @include H4;

    &:hover {
      color: var(--color-golden);
    }

    @include mobile-s {
      font-size: 14px;
      font-weight: 700;
    }
  }


  &__inner {
    .title {
      text-align: left;
      margin-bottom: 34px;
    }
  }

  &__items {
    column-count: 4;
    display: block;

    @include desktop {
      column-count: 3;
    }

    @include mobile {
      column-count: 2;
    }

    @include mobile-s {
      column-count: 1;
    }

    &:not(:last-child) {
      margin-bottom: 60px;
    }


    .designers-page__item {
      margin-bottom: 24px;

      &--hidden {
        display: none;
      }
    }

  }

  &__promo {
    background-color: var(--color-golden);
    font: normal 400 14px/1.1 "CervoNeue",
      sans-serif;
    font-size: 16px;
    display: inline-block;
    letter-spacing: 0.3em;
    text-transform: capitalize;
    color: #fff;
    margin-right: 10px;
    padding: 4px 5px 4px 10px;
  }

  &__link {
    @include hover-bl;
    font-size: 14px;

    &:hover {
      @include hover-full;
    }
  }
}