.adv {
  @include flex-all-sb;
  border-radius: 0 0 $border-radius-20px $border-radius-20px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 530px;

  @include tablet {
    padding: 50px 0;
  }

  @include mobile-l {
    display: block;
    height: 550px;
  }

  &--auto {
    height: 650px;

    .adv__picture {
      @include tablet {
        width: 40%;
      }

      @include mobile-l {
        width: 50%;
        margin: 0 auto;
        left: 0;
      }

      @include mobile {
        width: 65%;
      }
    }
  }

  &.background {

    &:before {
      opacity: 1;
      border-radius: 0 0 $border-radius-20px $border-radius-20px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url('../img/petals.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    height: 100%;
    width: 85%;
    opacity: 0.3;
    z-index: -1;
    left: 0;
    bottom: 0;
  }

  &__content {
    max-width: 600px;
    width: 100%;
    padding-left: 80px;
    font-size: 16px;
    padding-top: 20px;

    @include tablet {
      padding: 0 0 0 40px;
    }

    @include mobile-l {
      padding: 0 20px;
      max-width: 100%;
    }
  }

  h2 {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 15px;
  }

  &__picture {
    max-width: 250em;
    width: 65%;
    position: absolute;
    right: 0;
    bottom: 0;

    @include mobile-l {
      width: 70%;
      margin: 0 auto;
      transform: translateY(50px);
    }
  }

  &.contact-page {
    p {
      margin-bottom: 45px;
    }
  }

  &--about {
    @include tablet {
      height: 600px;
    }

    @include mobile-l {
      height: 750px;
    }

    @include mobile {
      height: 750px;
    }

    @include mobile-s {
      height: 960px;
    }

    .adv__content {
      width: 55%;

      @include mobile-l {
        width: 90%;
      }

      @include mobile {
        width: 100%;
      }
    }

    .avd__picture {
      width: 50%;
    }
  }
}