.footer {
  &__inner {
    @include flex-s-sb;
    margin-bottom: 40px;

    &--bottom {
      border-top: 1px solid var(--color-gray-100);
      padding-top: 40px;
    }
  }

  .nav-list {
    display: block;
    column-count: 2;

    &__item {
      margin-bottom: 30px;
    }
  }

  &__rights {
    @include flex-s-sb;

    .footer__list {
      @include flex-s-sb;
      font-size: 12px;
      color: var(--color-gray-500)
    }

    .footer__item {
      position: relative;

      &:not(:last-child) {
        margin-right: 20px;

        &:before {
          content: "";
          position: absolute;
          right: -10px;
          height: 100%;
          width: 1px;
          background-color: var(--color-gray-500);
        }
      }
    }
  }

  .messangers {
    font-size: 14px;
    color: var(--color-black);
    font-weight: 600;
    text-transform: capitalize;

    .footer__item {
      &:not(:last-child) {
        &:before {
          content: "";
          position: absolute;
          right: -10px;
          height: 6px;
          width: 6px;
          border-radius: 50%;
          background-color: var(--color-black);
          transform: translateY(100%);
        }
      }

    }
  }
}

.address {
  &__list {
    @include flex-s-sb;
  }

  span {
    display: block;
    font-size: 14px;
    line-height: 1.7;
  }

  &__item {
    padding-left: 65px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 50px;
      width: 50px;
      background-position: center;
      background-repeat: no-repeat;
      border: 1px solid var(--color-border);
      border-radius: $border-radius;
    }

    &:not(:last-child) {
      margin-right: 90px;
    }

    &--phone {
      &:before {
        background-image: url('../img/sprite.svg#phone');
      }
    }

    &--location {
      max-width: 255px;
      width: 100%;

      &:before {
        background-image: url('../img/sprite.svg#map-pin');

      }
    }
  }

  &__text {
    color: var(--color-black);
    font-weight: 600;
  }
}