.contact-form {
  max-width: 460px;
  width: 100%;
  z-index: 5;

  @include mobile-l {
    max-width: 100%;
  }

  p {
    margin-bottom: 45px;
    font-size: 14px;
  }
}

.form {
  width: 100%;

  &__label {
    display: block;
    position: relative;
    margin-bottom: 18px;
    transition: margin-bottom 0.3s linear;

    &.error {
      span {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__area {
    width: 100%;
    padding: 15px;
    border-radius: $border-radius-10px;
    border: 1px solid var(--color-gray-100);
    font-size: 14px;
    line-height: 1.7;
    color: var(--color-gray-800);
    box-shadow: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &--text {
      min-height: 150px;
      resize: none;
    }

    &.error {
      &+.form__error {
        visibility: visible;
        opacity: 1;
      }

      &~.custom-checkbox__error {
        visibility: visible;
        opacity: 1;

        @include mobile-s {
          bottom: -40px;
        }
      }
    }
  }

  &__btn.btn {
    width: 100%;

    &:hover {
      background-color: var(--color-orange);

    }

    &::before {
      display: none;
    }
  }

  &__error {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    font-size: 13px;
    color: var(--color-red);
    bottom: -20px;
    left: 0;
    
  }

  .iti {
    width: 100%;

    &.error {
      &+.form__error {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
    background-color: transparent;
  }

  .custom-checkbox {
    @include checkbox;
    margin-bottom: 30px;

    @include mobile {
      margin-bottom: 60px;
    }
  }
}