.form {
  width: 100%;

  &__area {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: $border-radius;
    margin-bottom: 15px;
    font-size: $font-body;
    line-height: 1.7;
    border: 1px solid transparent;

    &--text{
      min-height: 150px;
      resize: none;
    }
  }

  &__btn {
    width: 100%;
  }
}