.header{
  border-bottom: 1px solid rgba(249, 175, 49, 0.3);
}
.navbar {
  padding: 20px 0;
  @include flex-all-sb;
  font-weight: $weight-600;

  &__list {
    @include flex-all-sb;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

}