.header {
  border-bottom: 1px solid var(--color-border);
  padding: 20px 0;
  position: fixed;
  top: 0;
  z-index: 20;
  background-color: #fff;
  width: 100%;


  @include mobile-l {
    padding: 15px 0 10px;
  }


  &__nav {
    @include flex-all-sb;
  }

  &__list {

    @include mobile-l {
      position: absolute;
      top: 60px;
      height: 100vh;
      width: 100%;
      right: 0;
      z-index: 1;
      padding: 30px 0;
      border: 1px solid var(--color-border);
      border-right: transparent;
      overflow: hidden;
      transform: translateX(-200%);
      overflow-y: auto;
      transition: transform 0.5s linear;
      padding-bottom: 90px;
      background: var(--color-orange-linear);
      text-align: center;
    }

    &--open {
      transform: translateY(0);
    }

    &.nav-list {
      @include mobile-l {
        display: block;
        margin-right: 0;
        padding-top: 40px;
        overflow-y: scroll;
      }
    }

    & .nav-list {

      &__item {
        &:not(:last-child) {
          @include mobile-l {
            margin-right: 0;
            margin-bottom: 15px;
          }
        }

        &--btn {
          @include mobile-l {
            padding-top: 20px;
          }
        }

        &--mobile {
          @include mobile-l {
            padding-top: 20px;
          }
        }
      }

      &__link {
        @include mobile-l {
          padding: 10px 30px;
          display: block;
          font-size: 18px;
        }
      }
    }
  }

  &__messangers {
    display: none;

    @include mobile-l {
      padding-top: 20px;
      @include flex-all-center;
    }
  }

  &__messanger {
    position: relative;
    height: 30px;
    width: 30px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__messanger-link {


    &::before {
      content: "";
      position: absolute;
      height: 30px;
      width: 30px;
      mask-image: url('../img/sprite.svg#viber');
      background-color: var(--color-orange);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: cover;
      top: 0;
      left: 0;
    }

    &--viber {
      &::before {
        mask-image: url('../img/sprite.svg#viber');

      }
    }

    &--telegram {
      &::before {
        mask-image: url('../img/sprite.svg#telegram');

      }
    }

    &--whatsapp {
      &::before {
        mask-image: url('../img/sprite.svg#whatsapp');

      }
    }
  }
}

.nav-list {
  @include flex-all-sb;
  margin-left: auto;

  &__item {
    &:not(:last-child) {
      margin-right: 45px;

      @include tablet {
        margin-right: 15px;
      }
    }
  }

  &__menu {
    display: none;
  }

  &__item {
    font-weight: 600;

    &--mobile {
      display: none;

      @include mobile-l {
        display: block;
      }
    }
  }

  &__link {
    text-transform: capitalize;
    position: relative;
    transition: color 0.3s linear;

    &:hover {
      color: var(--color-orange);

      &:before {
        opacity: 1;
        height: 5px;
        visibility: visible;

        @include mobile-l {
          transform: translateX(0);
        }
      }
    }

    &:before {
      content: "";
      position: absolute;
      width: 30px;
      height: 0;
      background-color: var(--color-orange);
      bottom: -38px;
      border-radius: 10px 10px 0 0;
      margin: 0 auto;
      transform: translateY(-1px);
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s linear,
        visibility 0.3s linear,
        height 0.1s linear;

      @include mobile-l {
        bottom: 0;
        margin: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }

  &__btn {
    @include mobile-l {
      margin: 0 auto;
    }
  }

}