.header {
  border-bottom: 1px solid var(--color-border);
  padding: 20px 0;
  position: fixed;
  top: 0;
  z-index: 20;
  background-color: #fff;
  width: 100%;


  @include mobile-l {
    padding: 15px 0 10px;
  }

  .logo {
    @include mobile-l {
      margin: 0 auto;
    }
  }

  &__nav {
    @include flex-all-sb;
  }

  &__list {

    @include mobile-l {
      position: absolute;
      top: 60px;
      height: 100vh;
      background-color: #fff;
      max-width: 270px;
      width: 100%;
      right: -20px;
      z-index: 1;
      padding: 30px 0;
      border: 1px solid var(--color-border);
      border-right: transparent;
      overflow: hidden;
      transform: translateY(200%);
      overflow-y: auto;
      transition: transform 0.5s linear;
      padding-bottom: 90px;
    }

    &--open {
      transform: translateY(0);
    }

    &.nav-list {
      @include mobile-l {
        display: block;
        margin-right: 0;
      }
    }

    & .nav-list {

      &__item {
        &:not(:last-child) {
          @include mobile-l {
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
      }

      &__link {
        @include mobile-l {
          padding: 15px 30px;
          display: block;
        }
      }
    }
  }
}

.nav-list {
  @include flex-all-sb;
  margin-left: auto;

  &__item {
    &:not(:last-child) {
      margin-right: 45px;

      @include tablet {
        margin-right: 25px;
      }
    }
  }

  &__menu {
    display: none;
  }

  &__item {
    font-weight: 600;
  }

  &__link {
    text-transform: capitalize;
    position: relative;
    transition: color 0.3s linear;

    &:hover {
      color: var(--color-orange);

      &:before {
        opacity: 1;
        height: 5px;
        visibility: visible;

        @include mobile-l {
          transform: translateX(0) rotate(90deg);
        }
      }
    }

    &:before {
      content: "";
      position: absolute;
      width: 30px;
      height: 0;
      background-color: var(--color-orange);
      bottom: -38px;
      border-radius: 10px 10px 0 0;
      margin: 0 auto;
      transform: translateY(-1px);
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s linear,
        visibility 0.3s linear,
        height 0.1s linear;

      @include mobile-l {
        transform: translateX(0) rotate(90deg);
        top: 20px;
        margin: 0;
        left: -13px;
      }
    }
  }

  &__btn {
    @include mobile-l {
      margin: 0 auto;
    }
  }
}