.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;

  grid-gap: 25px;

  @include tablet {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile-l {
    display: block;
  }

  li {
    position: relative;
    width: 100%;
    border: 1px solid var(--color-gray-100);
    border-radius: 20px;
    background-color: var(--color-gray-200);
    padding: 30px 20px;
    position: relative;
    z-index: 0;
    cursor: default;

    @include tablet {
      padding: 20px;

    }

    @include mobile-l {
      margin: 0 auto 30px;
      max-width: 80%;
    }

    @include mobile-s {
      max-width: 100%;
    }

    &:not(:last-child) {
      margin-right: 20px;

      @include mobile-l {
        margin: 0 auto 30px;
      }
    }

    a {
      display: block;
      position: relative;
      padding-left: 30px;
      letter-spacing: 0.2px;
      font-size: 14px;
      line-height: 1.7;
      font-weight: 600;
      transform: translateX(0);
      transition: transform 0.3s linear,
        color 0.3s linear;

      &:hover {
        transform: translateX(10px);
        color: var(--color-orange);

        &:before {
          background-color: currentColor;
        }
      }

      &:before {
        content: "";
        position: absolute;
        mask-image: url("../img/sprite.svg#arrow-right-black");
        background-color: var(--color-black);
        fill: violet;
        stroke: violet;
        height: 24px;
        width: 24px;
        left: 0;
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: cover;
      }
    }

    &:hover {
      border: 1px solid var(--color-border);

      &::before {
        opacity: 1;
      }

      img {
        background-color: var(--color-orange);
      }
    }
  }

  &__icon {
    position: relative;
    min-height: 50px;
    @include flex-v-center;
    padding-left: 60px;
    margin-bottom: 25px;

    @include tablet {
      margin-bottom: 10px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--color-black);
      height: 45px;
      width: 45px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 85px;
      border-radius: $border-radius;

    }

    &--flat {
      &:before {
        background-image: url("../img/sprite.svg#build");
      }
    }

    &--house {
      &:before {
        background-image: url("../img/sprite.svg#house");
      }
    }

    &--project {
      &:before {
        background-image: url("../img/sprite.svg#plug");
      }
    }

    &--location {
      &:before {
        background-image: url("../img/sprite.svg#location");
      }
    }

    &--clipboard {
      &:before {
        background-image: url("../img/sprite.svg#drawing");
      }
    }

    &--drawing {
      &:before {
        background-image: url("../img/sprite.svg#clipboard");
      }
    }

    &--rent {
      &:before {
        background-image: url("../img/sprite.svg#rent");
      }
    }
  }
}