.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in;

  &:before {
    content: "";
    position: absolute;
    background-color: rgba(31, 31, 31, 0.17);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &--open {
    visibility: visible;
    opacity: 1;
    z-index: 20;
  }

  &__content {
    position: absolute;
    max-width: 500px;
    width: 100%;
    padding: 60px 40px;
    background-color: var(--color-white);
    z-index: 1;
    border: 1px solid var(--color-border);
    border-radius: $border-radius-20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;

    @include mobile {
      padding: 40px 20px;
    }

    &--open {
      visibility: visible;
      opacity: 1;
    }

    p {
      margin-bottom: 30px;

      @include mobile {
       font-size: 14px;
      }
    }


    &--form {
      p {
        max-width: 400px;
        width: 100%;
      }
    }

    &--finish {
      text-align: center;
      padding-top: 125px;

      &:before {
        content: "";
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color-orange);
        background-image: url('../img/sprite.svg#check');
        border: 2px solid rgba(249, 175, 49, 0.3);
        height: 40px;
        width: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 55px;
        border-radius: 50%;
      }

      p {
        font-weight: 700;
        color: var(--color-black);
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 18px;

        &:last-of-type {
          margin-bottom: 35px;
        }
      }

      .btn {
        margin: 0 auto;
      }
    }
  }

  &__close {
    transform: rotate(45deg);
    position: absolute;
    right: 20px;
    top: 15px;

    svg {
      stroke: var(--color-orange);
    }
  }
}