.pagination {
  @include flex-v-center;
  margin-bottom: 150px;

  @include tablet{
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 15px;

      @include mobile-s {
        margin-right: 10px;
      }
    }
  }

  &__item {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    text-transform: capitalize;
    letter-spacing: 0.03em;
    color: var(--color-gray-500);
    max-width: 44px;
    width: 100%;
    text-align: center;
  }

  &__link {
    padding: 12px 10px;
    display: block;
    transition: all 0.3s ease-in-out;
    border-radius: $border-radius;

    @include mobile-s {
      padding: 10px 5px;
    }

    &--active {
      background-color: var(--color-orange);
      color: var(--color-white);

      .pagination__icon {
        stroke: #fff;
      }
    }

    &:not(.pagination__link--active) {
      @include active-action;
    }
  }

  &__icon {
    max-width: 8px;
    width: 100%;
    height: 12px;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 2px;

    &--next {
      transform: rotate(180deg);
    }
  }
}