.single-info {
  max-width: 365px;
  width: 100%;

  @include tablet {
    max-width: 100%;
  }

  &__wrapper {
    @include tablet {
      display: flex;
    }

    @include mobile-m {
      display: block;
    }
  }

  &__inner {
    &:not(:last-child) {
      @include tablet {
        margin-right: 50px;
      }
    }

    .filter-size__list {
      grid-template-columns: repeat(5, 43px);
    }
  }

  &__title {
    @include H2;
    margin-bottom: 8px;

    @include mobile-m {
      font-size: 26px;
    }
  }

  &__text {
    @include body;
    margin-bottom: 25px;

    @include mobile-m {
      margin-bottom: 10px;
    }

    &+.single-info__price {
      @include subtitle;
      margin-bottom: 43px;
      display: inline-block;

      @include mobile-m {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }

    &__price {
      display: block;
    }
  }

  &__icon {
    width: 28px;
    height: 28px;
  }

  .filter-size {
    margin-bottom: 36px;
  }

  &__thumb {
    display: flex;
    margin-bottom: 34px;

    @include mobile-m {
      margin-bottom: 15px;
    }

    .custom-checkbox {
      &:first-child {
        margin-right: 15px;
      }
    }

    .custom-checkbox__field:checked+.custom-checkbox__content::after {
      opacity: 0;
    }

    .custom-checkbox__content {
      padding: 0;

      &::after {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 1;
        background-image: none;
      }
    }

    .custom-checkbox__content::before {
      width: 50px;
      height: 50px;
    }
  }

  &__color {
    .single-info__btn {
      &:not(.custom-checkbox__content) {
        margin-bottom: 26px;
        display: inline-block;
      }
    }
  }


  &__size {
    margin-bottom: 24px;
    display: inline-block;

    @include mobile-m {
      margin-bottom: 15px;
    }
  }

  &__thumb-img {
    width: 50px;
    height: 50px;

    &--active {
      border: 1px solid var(--color-golden);
    }
  }

  &__btns {
    @include flex-s-sb;
    margin-bottom: 40px;
    max-width: 352px;
    width: 100%;

    .btn-shop {
      @include mobile {
        padding: 13px 40px;
      }
    }
  }

  .accordion {
    max-width: 345px;
    width: 100%;

    @include tablet {
      max-width: 100%;
    }

    &__name {
      padding-bottom: 5px;
      font-size: 15px;
      line-height: 2.2;

      &::after {
        background-color: var(--color-golden);
        height: 2px;
      }
    }

    &__content {
      overflow: hidden;
      opacity: 0;
      will-change: max-height;
      max-height: 0;
      transition: all 0.3s ease-in;
      box-sizing: content-box;


      p {
        font-size: 12px;
        line-height: 1.2;
        margin-bottom: 12px;
        letter-spacing: 0.03em;
      }
    }
  }
}

.accordion-active {
  &+.accordion__content {
    max-height: 100%;
    opacity: 1;
    padding-top: 24px;
    overflow: visible;
  }
}