.contact-page {
  @include flex-all-sb;
  border-radius: 0 0 $border-radius-20px $border-radius-20px;
  padding: 60px;

  @include tablet {
    padding: 40px;
  }

  @include mobile-l {
    padding: 30px;
    flex-wrap: wrap-reverse;
  }

  @include mobile {
    padding: 15px;
  }

  &.background {
    &:before {
      transform: scale(-1, -1);
      opacity: 0.8;
      border-radius: $border-radius-20px $border-radius-20px 0 0;

    }
  }

  &__list {
    max-width: 400px;
    width: 100%;
    margin-right: 30px;

    @include mobile-l {
      margin: 0 auto 30px;
    }
  }

  &__item {
    background-color: var(--color-white);
    border-radius: $border-radius-20px;
    text-align: center;
    padding: 40px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    color: var(--color-black);

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__link {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    color: var(--color-orange);
  }

  &__messanger {
    @include flex-h-center;

    .contact-page__link {
      display: flex;
      align-items: flex-end;

      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  &__icon {
    height: 25px;
    width: 25px;
    fill: var(--color-orange);
  }

  .contact-form {
    margin: 0 auto;

    @include mobile-l {
      max-width: 450px;
    }

    @include mobile-l {
      margin-bottom: 50px;
    }

    .form__btn.btn {
      &:hover {
        background-color: var(--color-orange);

      }

      &::before {
        display: none;
      }
    }
  }



}