.catalog {
  margin: 20px 0 5px;

  .catalog-slider {
    margin-bottom: 40px;
  }

  .swiper-nav .swiper-btns {
    margin-left: auto;
    right: 0;
    bottom: 7px;
    z-index: 12;

    @include mobile {
      max-width: 74px;
    }

    @include mobile-m {
      display: none;
    }
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    border-radius: 0;
    width: 32px;
    height: 2px;
    background-color: #000;

    @include mobile-s {
      width: 9px;
      height: 9px;
      border-radius: 50%;
    }
  }


  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal>.swiper-pagination-bullets {
    transform: translateY(-50%);

    @include mobile-s {
      transform: translateY(0);

    }

    .swiper-pagination-bullet {
      margin-left: 0;

      &:not(:last-child) {
        margin-right: 20px;

        @include mobile-s {
          margin-right: 9px;
        }
      }
    }
  }

  .product-article {
    p {
      font-size: 16px;
      margin-bottom: 6px;
    }
  }
}

.catalog-list {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 122px;
    row-gap: 56px;
    margin-bottom: 96px;

    @include tablet {
      column-gap: 60px;
      row-gap: 30px;
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      column-gap: 20px;
      row-gap: 20px;
    }

  }

  .product-article {
    max-width: 332px;
    width: 100%;

    img {
      margin-bottom: 24px;
    }

    h3 {
      font-size: 18px;
    }

    span {
      font-size: 17px;
    }
  }

}