.team {
  &>p {
    max-width: 500px;
    width: 100%;
    margin-bottom: 30px;
  }

  &__list {
    @include flex-s-sb;

    @include mobile-l {
      display: block;
      column-count: 2;
      margin: 0 auto;
    }

    @include mobile-s {
      column-count: 1;
    }
  }

  &__item {
    max-width: 260px;
    width: 100%;

    &:not(:last-child) {
      margin-right: 15px;

      @include mobile-l {
        margin-right: auto;
      }
    }

    @include mobile-l {
      margin: 0 auto 30px;
    }

    h3 {
      @include mobile-s {
        min-height: 40px;
      }
    }
  }
}