.team {

  h3 {
    margin-bottom: 5px;
  }

  &>p {
    max-width: 500px;
    width: 100%;
    margin-bottom: 30px;
  }

  &__list {
    @include flex;
    justify-content: space-around;

    @include tablet {
      display: block;
      column-count: 2;
      margin: 0 auto;
    }

    @include mobile-s {
      column-count: 1;
    }
  }

  &__item {
    max-width: 255px;
    width: 100%;

    @include tablet {
      margin: 0 auto 30px;
    }

    &:not(:last-child) {
      margin-right: 15px;

      @include tablet {
        margin: 0 auto 30px;
      }
    }
  }
}