.work {
  border: 2px solid var(--color-border);
  border-radius: $border-radius-20px;
  padding: 45px;

  h2 {
    margin-bottom: 30px;
  }

  &__inner {
    @include flex-s-sb;
  }

  &__list {
    @include flex-s-sb;
    flex-wrap: wrap;
    max-width: 460px;
    width: 100%;
    list-style-type: none;
    padding-top: 30px;
  }

  &__item {
    counter-increment: list;
    max-width: 225px;
    width: 100%;
    position: relative;

    &::before {
      content: counter(list);
      font-weight: 600;
      font-size: 80px;
      line-height: 56px;
      color: var(--color-orange);
      opacity: 0.2;
      position: absolute;
      z-index: 0;
      top: -15px;
    }

    &:nth-child(odd) {
      margin-right: 10px;
    }

    &:nth-child(-n+2) {
      margin-bottom: 20px;
    }
  }

  h3 {
    margin-bottom: 10px;
  }
}