.dashboard {
  margin-bottom: 100px;
  padding-top: 40px;

  &__section {
    max-width: 875px;
    width: 100%;
    margin-right: 20px;

    @include tablet {
      margin-right: 0;
    }
  }

  &__links {
    max-width: 270px;
    width: 100%;
    column-count: 1;
    column-gap: 0;

    @include tablet {
      @include flex-s;
      overflow-x: scroll;
      max-width: 100%;
      margin-bottom: 30px;

    }

    .tabs {
      &__btn {
        white-space: nowrap;
      }

      &__item {
        &:not(:last-child) {
          @include tablet {
            margin-right: 30px;
          }
        }
      }
    }
  }

  &__wrapper {
    @include flex-all-sb;

    @include mobile {
      display: block;
    }

    .dashboard__details {
      &:first-child {
        margin-right: 30px;
      }
    }

    &--top {
      .dashboard__data {
        height: 365px;

        @include mobile-s {
          height: auto;
        }
      }
    }

    &--bottom {
      .dashboard__data {
        padding: 0;
      }

      .dashboard__details {
        margin-bottom: 0;

        @include mobile-m {
          margin-bottom: 30px;
        }
      }
    }
  }

  &__inner {
    @include flex-s-sb;

    @include tablet {
      flex-wrap: wrap-reverse;
    }
  }

  &__details {
    width: 100%;
    margin-bottom: 40px;
  }

  &__data {
    border: 1px solid var(--color-golden);
    background-color: var(--account-bg);
    padding: 40px;
    overflow: hidden;
    position: relative;

    @include mobile-m {
      padding: 20px;
    }

    &--orders {
      padding: 0;
    }
  }

  &__details-top {
    @include flex-all-sb;
    margin-bottom: 15px;

  }

  &__data-top {
    @include flex-v-center;
    margin-bottom: 40px;

    @include mobile-s {
      display: block;
    }
  }

  &__img {
    width: auto;
    margin-right: 20px;
  }

  &__address {
    @include flex;
    font-style: normal;
  }

  &__table {
    display: table;
    @include body-sec;

    td {
      &:first-child {
        @include H5;
        font-weight: 400;
      }

    }
  }

  &__table-item {
    vertical-align: top;

    &:not(:last-child) {
      td {
        padding: 0 30px 25px 0;

        @include mobile-s {
          padding: 0 15px 10px 0;
        }
      }
    }
  }

  &__mobile {
    font: $font-medium;
    font-weight: 400;
  }

  &__text {
    @include body;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%)
  }

  &__list {
    width: 100%;
  }

  &__item {
    padding: 16px;
    @include flex-all-sb;
    border-bottom: 1px solid var(--color-disabled);
    @include body-sec;
    position: relative;
    @include hover-bl;

    &:hover {
      @include hover-full;
    }

    span {
      font: $font-medium
    }

    a {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }
  }

  &__wish-list {
    @include flex;

    @include mobile-m {
      display: block;
    }
  }

  &__wish-item {
    max-width: 320px;
    width: 100%;


    @include mobile-m {
      margin: 0 auto 30px;
    }


    &:nth-child(odd) {
      margin-right: 30px;

      @include mobile-m {
        margin: 0 auto 30px;
      }
    }
  }

  .btn-delete {
    margin-bottom: 20px;
  }

  &__label {
    @include flex-all-sb;
    width: 100%;
    cursor: pointer;
  }

  &__checkbox {
    background-color: var(--color-silver);
    border-radius: 20px;
    color: #e3e4e8;
    width: 40px;
    height: 20px;
    transition: background-color 0.25s ease-in-out;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    margin: 0;
    cursor: pointer;

    &:before {
      border-radius: 50%;
      content: "";
      display: block;
      background-color: #fff;
      position: absolute;
      top: 50%;
      transform: translate(3px, -50%);
      width: 15px;
      height: 15px;
      transition: transform 0.25s ease-in-out;
    }

    &:checked {
      background-color: var(--color-golden);

      &:before {
        transform: translate(22px, -50%);
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    border-top: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
    font-size: 15px;
    @include flex-all-center;
    padding: 20px 0;
    cursor: pointer;
    @include hover-bl;

    &:hover {
      @include hover-full;
      border-color: var(--color-golden);

      .dashboard__icon {
        stroke: var(--color-golden);
      }
    }
  }

  &__icon {
    margin-left: 12px;
    width: 25px;
    height: 25px;
    stroke: var(--color-black);
    stroke-width: 2px;
    transition: stroke 0.3s linear;
  }

  .product__image {
    @include mobile {
      height: auto;

    }
  }
}

.dashboard-title {
  @include subtitle-sec;
}