.adv {
  &--poland {
    margin-bottom: 60px;

    @include mobile {
      display: block;
    }

    @include mobile-l {
      padding: 50px 0;
    }

    @include mobile {
      padding: 50px 0 0;
    }

    .adv__picture {
      max-width: 430px;
      margin-right: 70px;

      @include tablet {
         transform: translateY(50px);
      }

      @include mobile-l {
        margin: 0 auto;
      }

      @include mobile {
        transform: translateY(0);
      }
    }

    p {
      @include mobile {
        margin: 0;
      }
    }
  }
}

.poland {
  &__news {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px 24px;

    @include mobile-l {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile-s {
      grid-template-columns: 1fr;
    }
  }
}